
{% extends "base.html" %}

{% block content %}

<h1>Blog Post</h1>


    <form action="/newpost" method="post"> <!--action will be for which route you have function on.-->
        <label for="blog_title">Blog Title: </label><br>
        <input type="text" name="blog_title">
        <p>
        <label for="blog_body">Blog Body: </label><br>
        <input type="text" name="blog_body"></input>
        <br>
        <br>
        <input type="submit" value="Submit"/>
        </p>
    </form>

{% endblock %}

<!--Always keep instances plural-->